
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');


.site-header {
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    padding: 23px 0;
}
.site-header__btn{
    color: #111517;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
